<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <title>Eligram</title>
  </head>
  <body style="background-color: rgba(255, 228, 196, 0.7)">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span class="mb-0 h1">Eligram</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <form method="GET" action="/search" class="d-flex">
              <input
                class="form-control-sm me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="query"
              />
              <button class="btn btn-outline-light btn-sm" type="submit">
                Search
              </button>
            </form>
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/<%= user.username %>"
                >Profile</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDarkDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="/new">New Post</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/auth/logout">Log Out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Welcome <%= user.username %>
    <form action="/auth/deleteaccount" method="POST">
      <input type="hidden" name="username" value="<%= user.username %>" />
      <button type="submit">Delete account</button>
    </form> -->

    <!-- fullname -->
    <!--  -->

    <main class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col-8" style="border-right: 2px solid black">
            <!-- News Feed -->
            <% for(let i = 0; i < feed.length;i++) { %>
            <div>
              <%- include('./../partials/postComponent.ejs',{
              caption:feed[i].caption, noLikes:feed[i].noLikes,
              noComments:feed[i].noComments, imgUrl:feed[i].imgUrl }) %>
            </div>
            <% } %>
          </div>
          <!-- End of single post -->
          <div class="col-4" style="height: 80vh; overflow-y: scroll">
            <div style="position: fixed">
              <h3 style="width: 100%">Suggested People</h3>
              <hr />
              <% suggested.forEach(element => { %>
              <div class="row my-2">
                <div class="col-md-3">
                  <img
                    src="<%= element.profileUrl %>"
                    alt="<%= element.firstname %>"
                    style="
                      height: 50px;
                      width: 50px;
                      border: 0.1px solid grey;
                      object-fit: cover;
                      border-radius: 50%;
                    "
                  />
                </div>
                <div class="col-md-6">
                  <a
                    href="/profile/<%= element.username %>"
                    style="text-decoration: none; color: black"
                    ><%= element.firstname + ' ' + element.lastname %></a
                  >
                </div>
                <div class="col-md-3">
                  <button
                    type="button"
                    class="btn btn-sm btn-info float-end"
                    value="<%= element.username %>"
                  >
                    Follow
                  </button>
                </div>
              </div>

              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/axios/axios.min.js"></script>
    <script>
      document
        .querySelectorAll(
          'button[type=button][class="btn btn-sm btn-info float-end"]'
        )
        .forEach((x) => {
          x.addEventListener('click', (e) => {
            // console.log(e.target.value);
            // e.target.innerText = 'Following';
            axios
              .post('/async/follow', {
                usernameToFollow: e.target.value,
              })
              .then((res) => {
                if (res.data.follow) {
                  return (e.target.innerText = 'Unfollow');
                }
                if (!res.data.follow) {
                  return (e.target.innerText = 'Follow');
                }
              })
              .catch((err) => {
                console.log(err);
              });
          });
        });
      const likeBtn = document.getElementsByClassName('like-btn');
      for (let index = 0; index < likeBtn.length; index++) {
        const element = likeBtn[index];
        element.addEventListener('click', (e) => {
          console.log(e.target.getAttribute('data-value'));
          element.children[0].setAttribute(
            'd',
            'M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z'
          );
        });
      }
    </script>
  </body>
</html>
