<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Eligram | <%= user.firstname %></title>
  </head>
  <body style="background-color: rgba(255, 228, 196, 0.7)">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span class="mb-0 h1">Eligram</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <form method="GET" action="/search" class="d-flex">
              <input
                class="form-control-sm me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="query"
              />
              <button class="btn btn-outline-light btn-sm" type="submit">
                Search
              </button>
            </form>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/profile/<%= loggedIn %>"
                >Profile</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDarkDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="/new">New Post</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/auth/logout">Log Out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Welcome <%= user.username %>
    <form action="/auth/deleteaccount" method="POST">
      <input type="hidden" name="username" value="<%= user.username %>" />
      <button type="submit">Delete account</button>
    </form> -->

    <div class="container text-center mb-4 mt-3">
      <img
        src="<%= user.profileUrl %>"
        alt="<%= user.fullname %>"
        style="
          border: 0.1px solid grey;
          object-fit: cover;
          border-radius: 50%;
          height: 150px;
          width: 150px;
        "
      />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md">
          <h3>
            <%= user.fullname %> <% if (loggedIn!=user.username) { %>
            <button
              type="button"
              class="btn btn-sm btn-info float-end"
              value="<%= user._id %>"
            >
              <%if(follows){%> Unfollow <% } else { %> Follow <% } %>
            </button>
            <% } %>
          </h3>
          <h4>
            <a
              href="/profile/<%= user.username %>"
              style="color: rgb(145, 145, 145); text-decoration: none"
              ><%= user.username %></a
            >
          </h4>
          <div class="d-flex justify-content-between mt-3">
            <h5><%= user.accountStats.posts %> Posts</h5>
            <h5><%= user.accountStats.followers %> Followers</h5>
            <h5><%= user.accountStats.following %> Following</h5>
          </div>
        </div>
        <div class="col-md"><%= user.userBio %></div>
      </div>
    </div>

    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/axios/axios.min.js"></script>
    <script>
      document
        .querySelectorAll(
          'button[type=button][class="btn btn-sm btn-info float-end"]'
        )
        .forEach((x) => {
          x.addEventListener('click', (e) => {
            // console.log(e.target.value);
            // e.target.innerText = 'Following';
            axios
              .post('/async/follow', {
                userIdToFollow: e.target.value,
              })
              .then((res) => {
                if (res.data.follow) {
                  return (e.target.innerText = 'Unfollow');
                }
                if (!res.data.follow) {
                  return (e.target.innerText = 'Follow');
                }
              })
              .catch((err) => {
                console.log(err);
              });
          });
        });
    </script>
  </body>
</html>
