<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
      integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Eligram | <%= user.firstname %> | Edit</title>
  </head>
  <body style="background-color: rgba(255, 228, 196, 0.7)">
    <%- include('./../partials/navbar2.ejs') %>

    <!-- Welcome <%= user.username %>
    <form action="/auth/deleteaccount" method="POST">
      <input type="hidden" name="username" value="<%= user.username %>" />
      <button type="submit">Delete account</button>
    </form> -->
    <form action="/settings" method="post" enctype="multipart/form-data">
      <div class="container text-center mb-4 mt-3">
        <img
          id="uploaded"
          src="<%= user.profileUrl %>"
          alt="<%= user.fullname %>"
          style="
            border: 0.1px solid grey;
            object-fit: cover;
            border-radius: 50%;
            height: 150px;
            width: 150px;
          "
        />
        <br />
        <input
          type="file"
          name="image"
          id="image"
          onchange="displayImg(this)"
        />
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md">
            <h4>
              <input
                type="text"
                name="firstname"
                id="firstname"
                value="<%= user.firstname %>"
              />
              <input
                type="text"
                name="lastname"
                id="lastname"
                value="<%= user.lastname %>"
              />
            </h4>
            <h4>
              <input
                type="checkbox"
                name="changeUsername"
                class="form-check-input"
                id="changeUsername"
              />
              <label for="changeUsername" class="mb-2">Change Username ?</label>
              <br />
              <input
                type="text"
                name="username"
                id="username"
                value="<%= user.username %>"
              />
            </h4>
            <div class="d-flex justify-content-between mt-3">
              <h5><%= user.accountStats.posts %> Posts</h5>
              <h5><%= user.accountStats.followers %> Followers</h5>
              <h5><%= user.accountStats.following %> Following</h5>
            </div>
          </div>
          <div class="col-md">
            <textarea
              name="bio"
              id="bio"
              maxlength="400"
              style="width: 100%; height: 100%; resize: none"
            >
<%= user.userBio %></textarea
            >
          </div>
          <button type="submit" class="btn btn-lg my-4 btn-secondary">
            Save
          </button>
        </div>
      </div>
    </form>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
      integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      const err = '<%= errorMsg %>';
      if (err.length > 0) {
        new Noty({
          type: 'warning',
          theme: 'metroui',
          text: err,
          timeout: 3000,
        }).show();
      }

      const img = document.getElementById('uploaded');
      function displayImg(inp) {
        if (inp.files && inp.files[0]) {
          const reader = new FileReader();
          reader.onload = function (e) {
            // $('#uploaded').attr('src', e.target.result).width(300).height(300);
            img.setAttribute('src', e.target.result);
          };
          reader.readAsDataURL(inp.files[0]);
        }
      }
    </script>
  </body>
</html>
